.row {
  margin-bottom: 3rem;
  position: relative;
  z-index: 1;

  &__title {
    margin-bottom: 2.4rem;
    font-size: 3.2rem;
    font-weight: 600;
    margin-left: 5%;
  }

  .container {
    width: 100%;
    padding: 0 4%;
    margin: 0 auto;
    position: relative;
  }
}
.swiper {
  overflow: unset;
}
