@use 'variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
  font-size: $fz;
  color: $color-white;
  background-color: $color-black;
  line-height: 1.2;
}

ul,
ol {
  list-style: none;
}

input {
  font-family: inherit;
  font-size: inherit;
  border: 0;
  outline: 0;
}

img {
  max-width: 100%;
  display: block;
}

a {
  display: inline-block;
  text-decoration: none;
}

main {
  overflow-x: hidden;
}

.container {
  padding: 0 5%;
  width: 100%;
  margin: 0 auto;
}

.swiper-slide {
  height: unset;
}
