$main-color: hsl(0, 73%, 53%);
$color-black: #141414;
$color-black-1: #191919;
$color-white: #fff;
$color-gray: #423f3e;
$fz: 1.6rem;
$res_1139px: 1139px;
$res_1023px: 1023px;
$res_767px: 767px;
$res_639px: 639px;
$res_424px: 424px;
$res_319px: 319px;
