@use '../../sass/variables' as *;
@use '../../sass/mixin' as *;

.header {
  padding: 1.5rem 0;
  background: rgb(20, 20, 20);
  background: rgb(20, 20, 20);
  background: linear-gradient(
    180deg,
    rgba(20, 20, 20, 1) 0%,
    rgba(20, 20, 20, 0) 100%
  );
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

  &__container {
    display: flex;
    align-items: center;
  }

  .logo {
    margin-right: 3rem;
    &__large,
    &__small {
      color: $main-color;
      font-size: 3.2rem;
      font-weight: 600;
    }

    &__large {
      @include responsive_639 {
        display: none;
      }
    }

    &__small {
      display: none;
      font-size: 5rem;

      @include responsive_639 {
        display: inline-block;
      }
    }
  }

  .nav {
    @include responsive_639 {
      display: none;
    }

    ul {
      display: flex;
      align-items: center;
    }

    &__item {
      &:not(:last-child) {
        margin-right: 2rem;
      }
    }

    &__link {
      font-size: 1.6rem;
      text-transform: capitalize;
      color: $color-white;
      padding: 1rem 0;
      transition: all 0.3s ease-in-out;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 3px;
        background-color: $main-color;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        transition: width 0.3s ease-in-out;
      }

      &--active {
        color: $main-color;

        &::after {
          width: 100%;
        }
      }
    }
  }

  &__toggle {
    margin-left: 2rem;
    cursor: pointer;
    display: none;

    svg {
      width: 3.5rem;
      height: 3.5rem;
      color: $color-white;
    }

    @include responsive_639 {
      display: block;
    }
  }
  &__search {
    display: flex;
    margin-left: auto;
    align-items: center;

    &-field {
      background-color: $color-black-1;
      border-radius: 0.25rem;
      font-size: 1.4rem;
      color: $color-white;
      width: 0;
      padding: 1rem 1.5rem;
      opacity: 0;
      transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

      &.active {
        width: 26rem;
        padding: 1rem 1.5rem;
        opacity: 1;

        @include responsive_639 {
          width: 15rem;
        }
      }
    }

    &-icon {
      margin-left: 2rem;
      cursor: pointer;
      svg {
        width: 2rem;
        height: 2rem;
      }
    }
  }
}
