@use '../../sass/variables' as *;
@use '../../sass/mixin' as *;

.footer {
  padding: 4rem 0;
  background-color: $color-black-1;

  &__container {
    display: flex;
    justify-content: space-between;

    @include responsive_767 {
      flex-direction: column;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    margin-bottom: 2.4rem;

    @include responsive_639 {
      flex-direction: column;
    }

    li:not(:last-child) {
      margin-right: 1.5rem;

      @include responsive_639 {
        margin-right: 0;
        margin-bottom: 1.5rem;
      }
    }

    li a {
      color: $color-white;
      transition: all 0.3s;

      &:hover {
        color: $main-color;
      }
    }
  }

  &__desc {
    max-width: 75rem;
    line-height: 1.2;
    margin-right: 1.5rem;

    @include responsive_767 {
      margin-bottom: 2.4rem;
      margin-right: 0;
    }

    @include responsive_639 {
      text-align: center;
    }
  }

  &__socials {
    @include responsive_639 {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-title {
      margin-bottom: 2.4rem;
      display: inline-block;
    }

    &-list {
      display: flex;

      li:not(:last-child) {
        margin-right: 1rem;
      }

      li a {
        font-size: 3rem;
        color: $color-white;
        transition: all 0.3s;

        &:hover {
          color: $main-color;
        }
      }
    }
  }
}
